@charset "utf-8";

ul,
ul li {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
}

.skill {
    color:#1f4a59 ;
    margin-bottom: 470px;
    margin-left: 0px;
    font-size: 40px;
    z-index: -100;
    height: 5%;
    position: absolute;
}

ul {
  width: 70%;
  margin-top: 20%;
  margin-left: 0%;
  z-index: 1;
  height: 100%;
}

ul li {
  list-style: none;
  color: #1f4a59;
  font-size: 18px;
  margin: 50px 0px;
  position: relative;
}

ul li::before,
ul li::after {
  content: "";
  display: block;
  height: 16px;
  width: 100%;
  background-color: #1f4a59;
  position: absolute;
  bottom: -30px;
  border-radius: 6px;
}

ul li::before {
  box-shadow: 0 0 6px rgba(75, 207, 250, 0.2);
}

ul li::after {
  background-image: linear-gradient(90deg, #0fbcf9, #34e7e4);
}

ul li::after {
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.gameplay::after{
  animation-name: gameplay;

}
.js::after {
  animation-name: js;
}

.Unity::after {
  animation-name: Unity;
}

.html5::after {
  animation-name: html5;
}

.css3::after {
  animation-name: css3;
}

.Art::after {
  animation-name: Art;
}
.Python::after {
    animation-name: Python;
  }

.java::after {
    animation-name: java;
  }

@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

@keyframes Unity {
  from {
    width: 0;
  }
  to {
    width: 10%;
  }
}
@keyframes java {
    from {
      width: 0;
    }
    to {
      width: 5%;
    }
  }

@keyframes html5 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes css3 {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes Art {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes gameplay {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes Python {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }

  @media(max-width:800px) {  
.skill {
    color:#1f4a59 ;
    margin-bottom: 470px;
    margin-left: 0px;
    font-size: 40px;
    z-index: -100;
    height: 5%;
    position: absolute;
}
ul {
    width: 70%;
    margin-top: 60%;
    margin-left: 0%;
    z-index: 1;
    height: 100%;
  }
  
  ul li {
    list-style: none;
    color: #1f4a59;
    font-size: 18px;
    margin: 50px 0px;
    position: relative;
  }
  }

